#animatedElement{
	position 	: absolute;
	left 		: 200;
	background 	: red;
	height 		: 200;
	width 		: 200;
	top 		: 0*200;
}

#animatedElement2{
	position 	: absolute;
	left 		: 200;
	background 	: red;
	height 		: 200;
	width 		: 200;
	top 		: 1*200;
}

#animatedElement3{
	position 	: absolute;
	left 		: 200;
	background 	: red;
	height 		: 200;
	width 		: 200;
	top 		: 2*200;
}

#animatedElement4{
	position 	: absolute;
	left 		: 200;
	background 	: red;
	height 		: 200;
	width 		: 200;
	top 		: 3*200;
}

#animatedElement5{
	position 	: absolute;
	left 		: 200;
	background 	: red;
	height 		: 200;
	width 		: 200;
	top 		: 4*200;
}

#animatedElement6{
	position 	: absolute;
	left 		: 200;
	background 	: red;
	height 		: 200;
	width 		: 200;
	top 		: 5*200;
}

#animatedElement7{
	position 	: absolute;
	left 		: 200;
	background 	: red;
	height 		: 200;
	width 		: 200;
	top 		: 6*200;
}

#animatedElement8{
	position 	: absolute;
	left 		: 200;
	background 	: red;
	height 		: 200;
	width 		: 200;
	top 		: 7*200;
}

#animatedElement9{
	position 	: absolute;
	left 		: 200;
	background 	: red;
	height 		: 200;
	width 		: 200;
	top 		: 8*200;
}

#animatedElement10{
	position 	: absolute;
	left 		: 200;
	background 	: red;
	height 		: 200;
	width 		: 200;
	top 		: 9*200;
}